/config
/private
/vendor
/web/core
/web/*/contrib
/web/*/custom
/web/sites

/.editorconfig
/.env
/.gitattributes
/load.environment.php

/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config

/web/README.txt
/web/*/README.txt

node_modules
bower_components

.idea
